* {
    -webkit-tap-highlight-color: transparent;
}

html {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
  display: inline-block;

  width: 100%;
  height: 100%;
  min-height: 100%;

  overflow: hidden;

  background-color: $page_bg_color;
  box-sizing: border-box;

  overflow-wrap: break-word;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, td {
  border: 1px solid $thead-bg-color;
}

th {
  border: 1px solid rgba($light-text-color, 0.1);
  border-top-color: $thead-bg-color;
  border-left-color: $thead-bg-color;

  font-size: 20px;
  line-height: 54px;

  &:last-child {
    border-right-color: $thead-bg-color;
  }
}

thead {
  color: $light-text-color;
  background-color: $thead-bg-color;
}

th, td {
  padding: ($base-line / 4);
  text-align: left;
}

.slide {
  .hljs {
    background-color: transparent;
  }
}

main iframe {
  width: 100%;
  height: 100%;

  flex: 1;
}
