$state-btn: 150px;
.slide-lifecycle {

  .left {
    width: 0;
    flex: 1;
  }

  .left-top {
    justify-content: space-around;
    align-items: center;
  }

  .right {
    width: 0;
    flex: 1;

    align-items: center;
  }

  .bottom {
    width: 100%;
    justify-content: space-around;
  }

  .state {
    position: relative;

    width: $state-btn;
    height: $state-btn;

    color: $light-text-color;
    font-size: $base-line;

    border-radius: 100%;

    line-height: $state-btn;

    text-align: center;

    background-color: $hot-pink;
  }

  .state.event {
    background-color: $light-blue;
  }

  .state.other {
    position: relative;

    margin: $base-line;

    &:after {
      content: '';
      display: block;

      width: 48px;
      height: 48px;

      position: absolute;
      top: -($base-line);
      right: -($base-line);

      background-image: url('../images/right-arrow.svg');
      transform: rotate(135deg);
    }
  }

  .state.terminated {
    position: relative;

    margin: $base-line;

    &:after {
      content: '';
      display: block;

      width: 48px;
      height: 48px;

      position: absolute;
      top: -($base-line);
      left: -($base-line);

      background-image: url('../images/right-arrow.svg');
      transform: rotate(45deg);
    }
  }

  .state.old {
    background-color: #BDBDBD;
  }
}

@media (min-width: $largeSlideWidth) {
  .slide-lifecycle {
    .state.other {
      margin: $base-line * 3;

      &:after {
        top: -($base-line * 2);
        right: -($base-line * 2);
      }
    }

    .state.terminated {
      margin: $base-line * 3;

      &:after {
        top: -($base-line * 2);
        right: -($base-line * 2);
      }
    }
  }
}
