#slide-hello {
  color: $light-text-color;

  .bg {
    width: 110%;
    height: 110%;

    position: absolute;
    left: 0;
    top: 0;

    overflow: hidden;

    margin-left: -5%;
    margin-top: -5%;

    background-image: url('/images/hello-bg.png');
    background-size: cover;
    background-position: 0% 0%;

    -webkit-filter: blur(4px);
    filter: url('blur.svg#blur');
    filter: blur(10px);
  }

  .content {
    display: flex;

    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    flex-direction: column;

    align-items: center;
    justify-content:center;

    h1 {
      font-size: $base-line * 8;
      margin-bottom: $base-line * 2;
    }

    h6 {
      font-size: $base-line;
    }
  }
}
