$page-bg-color:       #1E1621 !default;
$gf-slide-bg-color:   #EDEDEB !default;

$title-color: 			  #333333 !default;
$font-color: 			    #333333 !default;
$link-text-color:     inherit;
$light-text-color:     $gf-slide-bg-color !default;
