$base-line:                 24px !default;
$base-font-size:            32px !default;
$font-size-h1:              78px !default;
$font-size-h2:              72px !default;
$font-size-h3:              68px !default;
$font-size-h4:              62px !default;
$font-size-h5:              58px !default;
$font-size-h6:              52px !default;

$slide-vertical-padding:    ($base-line * 2) !default;
$slide-horizontal-padding:  ($base-line * 3) !default;
